<p-selectButton [(ngModel)]="currentlang" (onChange)="changLang($event)" *ngIf="!query.matches" [options]="langsDeskTop" styleClass="lang-button"></p-selectButton>
<!-- <p-selectButton [(ngModel)]="currentlang" 
(onChange)="changLang($event)" *ngIf="query.matches" [options]="langsMobile" 
 styleClass="lang-button"></p-selectButton> -->

<!-- <p-selectButton [options]="langsMobile" [(ngModel)]="currentlang">
        <ng-template let-item>
            <div style="padding: .5em 1em">
                <img style="vertical-align: middle; margin-right: .5em" src="./../../../assets/images/i18nFlags/{{item.flag}}" height="20px"/>
                <span>{{item.name}}</span>
            </div>
        </ng-template>
    </p-selectButton> -->