@import 'src/styles';

.root-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  .root-content {
    flex-grow: 1;
  }
  .slideup-container {
    padding: 3%;
    &.profile {
      @extend .d-flex, .justify-content-center, .align-items-center;
    }
  }
}
